.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  min-height: 97vh;
  width: 75vw;
  margin-top: 20px;
}
.fixed{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.calc{
  background-color: #50CDE9;
}