.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 97vh;
    width: 75vw;
    margin-top: 20px;
  }
.fixed{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.first{
  color: #FFD700;
  font-size: medium;
}
.second{
  color: #C0C0C0;
  font-size: medium;
}
.third{
  color: #CD7F32;
  font-size: medium;
}
.rest{
  color: white;
  font-size: medium;
}
.row{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.size{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.leaderboard{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px){
  .main{
    width: 80%;
  }
  .row{
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .size{
    width: 100%;
  }
  .leaderboard{
    width: 100%;
  }
}